<div class="aside_header">
    <div class="arrow">
        ⬅
    </div>
    <div class="title">Navegação</div>
</div>
<ol class="aside_list">
    <li onclick="new_page('o-que-e-pensamento-computacional')"><span>O que é Pensamento Computacional?</span></li>
    <li onclick="new_page('sobre-scratch')"><span>Scratch</span></li>
    <li onclick="new_page('sobre-html-5')"><span>HTML 5</span></li>
    <li onclick="new_page('sobre-css3')"><span>CSS3</span></li>
    <li onclick="new_page('sobre-javascript')"><span>Javascript</span></li>
</ol>
