<div class="footer_header">
    <span>Pensamento Computacional</span>
    <p>Colégio Estadul Civico Militar José Pavan</p>
</div>
<div class="footer_content">
    <div class="left">
        <span>Conteudos</span>
        <ol>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Javascript</li>
        </ol>
    </div>
    <div class="line"></div>
    <div class="right">
        <span>Turmas</span>
        <ol>
            <li>1° Ano A</li>
            <li>2° Ano B</li>
        </ol>
    </div>
</div>
<div class="footer_message">
    @copy 11-2022 jackson.severino.rocha@escola.pr.gov.br
</div>