<div class="left">
    <div class="logo">
        <a href="index.html"><img src="../assets/images/logo.svg"></a>
    </div>
    <div class="humburguer">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ol class="menu">
            <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">SOBRE</a></li>
            <li><a href="student.html">ESTUDANTE</a></li>
            <li><a href="teacher.html">PROFESSOR</a></li>
        </ol>
    </div>
</div>
<ol class="header_menu">
    <li><a href="about.html">SOBRE</a></li>
    <li><a href="student.html">ESTUDANTE</a></li>
    <li><a href="teacher.html">PROFESSOR</a></li>
</ol>