:root {
    /* Variaveis responsaveis por cores do projeto */
    --primary-color: rgb(120, 189, 36);
    --secondary-color: rgb(230, 90, 48);
    --border-color: rgb(40, 44, 78);
    --background-color: rgb(212, 156, 156);
    --secondary-background-color: rgb(53, 48, 48);
    --text-color: black;
    --text-secondary-color: rgb(247, 243, 243);

    /* Variaveis responsaveis por font */
    --font-size: 16px;
}

/* Area de reset para o css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--text-color);
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

/* Para o cabeçalho do site
    Configurações para o nosso menu de navegação
*/
nav,
.header_menu {
    align-items: center;
}

nav {
    display: flex;
    padding: .5rem;
    background-color: var(--secondary-color);
}

nav>.left {
    margin-left: 1rem;
}

nav>.left>.logo {
    display: none;
}

nav>.left>.logo>a {
    color: var(--text-secondary-color);
}

nav>.left>.logo>a>img {
    width: 100px;
    margin-top: -1rem;
}

nav>.left>.humburguer {
    padding: .5rem;
}

nav>.left>.humburguer>input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 30px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

nav>.left>.humburguer>span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--text-color);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

nav>.left>.humburguer>span:first-child {
    transform-origin: 0% 0%;
}

nav>.left>.humburguer>span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

nav>.left>.humburguer>input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--text-color);
}

nav>.left>.humburguer>input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

nav>.left>.humburguer>input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-2px, -1px);
}

nav>.left>.humburguer>.menu {
  position: absolute;
    width: 100vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: var(--secondary-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav>.left>.humburguer>.menu>li {
  padding: 10px 0;
  font-size: 22px;
  font-weight: bold;
}

nav>.left>.humburguer>.menu>li>a{
    color: var(--text-secondary-color);
}

nav>.left>.humburguer>input:checked ~ ol {
    transform: none;
}

nav>.header_menu {
    display: none;
    flex: 1;
    justify-content: right;
}

nav>.header_menu>li {
    padding: 1rem;
    margin: 0 .5rem;
}

nav>.header_menu>li:hover,
nav>.header_menu>li:active {
    background-color: var(--primary-color);
    border-radius: .8rem;
}

nav>.header_menu>li>a {
    color: var(--text-secondary-color);
    font-weight: bold;
}

/* Configuração para o nosso conteudo do site */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content>aside {
    flex: 1;
    padding: 1rem;
    color: var(--secondary-color);
}

.content>aside>.aside_header {
    display: flex;
    padding: 1rem .5rem;
    background-color: var(--secondary-background-color);

    border-radius: .8rem .8rem 0 0;
}

.content>aside>.aside_header>.title {
    margin-left: 1rem;
}

.content>aside>.aside_list {
    padding: 1rem .5rem;
    background-color: var(--secondary-color);

    border-radius: 0 0 .8rem .8rem;
}

.content>aside>.aside_list>li {
    padding: .5rem;
}

.content>aside>.aside_list>li:hover {
    background-color: var(--primary-color);
    border-radius: .8rem;
    cursor: pointer;
}

.content>aside>.aside_list>li>span {
    color: var(--text-color);
}

.content>section {
    flex: 2;
    margin-right: .5rem;
    padding: 1rem;

    text-align: justify;
}

.content>.container {
    flex: 1;
    margin: 3rem 7rem;
    font-size: 1.2rem;
    text-align: justify;
}

.content>.container>.title {
    display: flex;
    align-items: center;
}

.content>.container>.title>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}


/* Configuração para o nosso rodapé do site */
footer>.footer_header {
    flex: 1;
    text-align: center;
    padding: .5rem;

    background-color: var(--secondary-background-color);
    color: var(--text-secondary-color);

    font-size: 1.2rem;
    font-weight: bold;
}

footer>.footer_header>span {
    font-size: 1.6rem;
}

footer>.footer_header>span,
footer>.footer_header>p {
    margin: 1rem;
}

footer>.footer_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;

    background-color: var(--secondary-color);
    color: var(--text-secondary-color);

    font-size: .9rem;
    font-weight: bold;
}

footer>.footer_content>.left,
footer>.footer_content>.right {
    flex: 1;
    display: flex;
    justify-content: space-around;

    padding: 1rem 0;
}

footer>.footer_content>.right {
    padding: 1rem;
    align-items: center;
    text-align: justify;
}

footer>.footer_content>.line {
    width: auto;
    height: .1rem;

    border: .1rem solid var(--border-color);
}

footer>.footer_message {
    flex: 1;
    padding: 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--secondary-background-color);
    color: var(--text-secondary-color);
}

@media (min-width: 600px) {
    nav>.left>.humburguer {
        display: none;
    }
    nav>.left>.humburguer>span {
        display: none;
    }

    nav>.header_menu {
        display: flex;
    }

    nav>.left>.logo {
        flex: 1;
        display: flex;
        margin-top: 1rem;

        font-weight: bold;
    }

    .content {
        flex-direction: row;
    }

    .content>section {
        flex: 3;
    }

    footer>.footer_content {
        flex-direction: row;
    }

    footer>.footer_content>.line {
        width: .1rem;
        height: auto;
    }
}


@media (min-width: 1000px) {
    .content>section {
        flex: 4;
    }

    footer>.footer_content {
        font-size: 1rem;
    }
}